@import "~normalize.css";

body {
    webkit-overflow-scrolling: touch;

}

a {
    text-decoration: none;
    color: #747d8a;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

:root {
    --main-bg-color: #ba68c8;
}